body {
    background-color: bisque;
    font-family: Bai Jamjuree;
}

footer {
    background-color: black;
    color: white;
    bottom: 0;
    position: 0;
    width: 100%;
}

footer p {
       text-align: center;
       font-size: 0,6rem;
       margin-top: 0,5rem;

}

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: rgb(128, 23, 226);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% 6rem);
}

.cartao_conteudo {
    text-align: center;
    background-color: rgb(202, 140, 252);
    height: 100%;
}

.cartao_conteudo h3 {
    background-color: rgb(199, 57, 235);
    text-align: left;
    padding: 0,6rem;
    border-radius: 0,6rem;
    font-size: 1vw;
}
